server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         api.example.fr;
    root                /var/www/api.example.fr/public;

    # SSL
    ssl_certificate     /certs/api.example.fr/fullchain.pem;
    ssl_certificate_key /certs/api.example.fr/privkey.pem;

    # security
    include             nginxconfig.io/security.conf;

    # reverse proxy
    location / {
        proxy_pass http://api:80;
        include    nginxconfig.io/proxy.conf;
    }

    # additional config
    #include nginxconfig.io/general.conf;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name .api.example.fr .api.example.fr;
    return      301 https://api.example.fr$request_uri;
}
