server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         {{ domain_front }};
    root                /var/www/domain_front/public;

    # SSL
    ssl_certificate     "/certs/{{ domain_front }}/fullchain1.pem";
    ssl_certificate_key "/certs/{{ domain_front }}/privkey1.pem";

    # security
    include             nginxconfig.io/security.conf;

    # reverse proxy
    location / {
        proxy_pass http://frontend:80;
        include    nginxconfig.io/proxy.conf;
    }

    # additional config
    #include nginxconfig.io/general.conf;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name "{{ domain_front }}";
    return      301 "https://{{ domain_front }}$request_uri";
}
